# Database settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=autoria
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Scraper settings
START_URL=https://auto.ria.com/uk/car/used/
SCRAPE_TIME=12:00
DUMP_TIME=12:00

# Dumps directory
DUMPS_DIR=dumps

# Run scraper on startup (true/false)
RUN_ON_STARTUP=false
